@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes type {
  0% {
    border-color: transparent; }
  10% {
    border-color: transparent; }
  25% {
    border-color: black; }
  75% {
    border-color: black; }
  90% {
    border-color: transparent; }
  100% {
    border-color: transparent; } }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem); }
  to {
    opacity: 1;
    transform: translateX(0rem); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      font-size: 40.25%;
      overflow-x: hidden; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%;
      overflow-x: hidden; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%;
      overflow-x: hidden; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%;
      overflow-x: hidden; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0;
      overflow-x: hidden; } }

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  /*font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* fix the animation shaking */
  margin-bottom: 6rem;
  position: relative;
  display: inline-block; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }
  .heading-primary--project {
    font-size: 5rem;
    color: #fff;
    letter-spacing: 1.2rem;
    font-weight: 500;
    text-transform: uppercase; }

.heading-xl {
  font-size: 5rem; }

.heading-white {
  color: #255F85; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: monospace;
  display: inline-block;
  background-image: linear-gradient(to right, #255F85, #1F4E6D);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertionary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #1F4E6D; }

.paragraph {
  font-size: 1.5rem;
  color: #4C7C9B; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  .paragraph--project {
    color: #fff;
    font-size: 1.6rem; }

.heading-special {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
  margin-right: -.5rem;
  margin-bottom: 5rem;
  margin-top: 15rem;
  text-align: center;
  color: white;
  position: relative; }
  @media (max-width: 37.5em) {
    .heading-special {
      margin-top: 2rem; } }
  .heading-special::after {
    content: "";
    width: 10rem;
    height: .8rem;
    background-color: white;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem; }

.bold-navy {
  color: #255F85;
  font-weight: bold; }

.bold-white {
  font-weight: bold;
  color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-padding-top {
  padding-top: 10rem; }
  @media (max-width: 56.25em) {
    .u-padding-top {
      padding-top: 0; } }

.u-margin-top-small {
  margin-top: 5rem !important; }

.btn--white {
  font-size: 1.6rem;
  color: #fff;
  border: 2px solid white;
  padding: .5rem;
  width: 15rem;
  height: 4rem;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: all .2s; }
  .btn--white:hover {
    background-color: #fff;
    color: #255F85;
    cursor: pointer; }

.btn--primary {
  font-size: 1.6rem;
  color: #1F4E6D;
  border: 2px solid #1F4E6D;
  padding: .5rem;
  width: 15rem;
  height: 4rem;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: all .2s; }
  .btn--primary:hover {
    background-color: #255F85;
    color: #eee;
    cursor: pointer; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(76, 124, 155, 0.8), rgba(31, 78, 109, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh); }
  @media (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);
      height: 100vh; } }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90vh); } }
  .header__text-box {
    display: flex;
    position: absolute;
    width: 100%;
    height: 55vh;
    justify-content: center;
    text-align: center;
    align-items: center; }
    @media (max-width: 37.5em) {
      .header__text-box {
        height: 70vh; } }

.section-footer {
  background-image: linear-gradient(to right bottom, #3d3635, #211e1d);
  padding-top: 20rem;
  padding-bottom: 2rem;
  margin-top: -15rem;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%); }
  @media (max-width: 37.5em) {
    .section-footer {
      clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
      margin-top: -10rem;
      padding: 15rem 0; } }
  .section-footer__logotype {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    color: #CCC9DC;
    position: relative; }
    .section-footer__logotype::after {
      content: "";
      position: absolute;
      width: 20rem;
      height: .1rem;
      background-color: #CCC9DC;
      bottom: 6rem;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2rem; }
  .section-footer__leftside {
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #CCC9DC; }
  .section-footer__link {
    text-decoration: none;
    color: #CCC9DC;
    font-size: 1.6rem;
    transition: all .4s; }
    .section-footer__link:hover {
      border-bottom: 1px solid #CCC9DC; }
  .section-footer__sign {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    width: 100%; }

.navigation {
  display: flex;
  justify-content: space-around;
  min-height: 8vh; }
  .navigation__burger {
    display: none;
    cursor: pointer; }
    .navigation__burger-line1, .navigation__burger-line2, .navigation__burger-line3 {
      width: 4.5rem;
      height: .4rem;
      background-color: #fff;
      margin: .9rem; }
    @media (max-width: 56.25em) {
      .navigation__burger {
        display: block; } }
  .navigation__list {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-right: 20rem; }
    @media (max-width: 56.25em) {
      .navigation__list {
        position: absolute;
        height: 92vh;
        top: 8vh;
        justify-content: center;
        background-color: #255F85;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 9999;
        transform: translateX(100%);
        transition: transform .5s ease-in; } }
  .navigation__item {
    opacity: 0;
    margin-right: 2rem;
    padding: 0.9rem;
    list-style: none; }
    @media (max-width: 56.25em) {
      .navigation__item {
        opacity: 0; } }
  .navigation__link {
    color: #fff;
    text-decoration: none;
    letter-spacing: .3rem;
    font-weight: light;
    font-size: 1.3rem; }
  .navigation__logotype {
    margin-right: auto;
    margin-left: 0.9rem;
    font-size: 2.1rem; }
    @media (max-width: 56.25em) {
      .navigation__logotype {
        font-size: 2.7rem; } }

@media (max-width: 56.25em) {
  .nav-active {
    transform: translateX(0); } }

.section__about {
  background-color: #CCC9DC;
  padding: 25rem 0;
  margin-top: -20vh;
  display: flex; }
  @media (max-width: 37.5em) {
    .section__about {
      flex-direction: column; } }
  .section__about-text-box {
    width: 50%;
    margin-right: 10rem; }
    @media (max-width: 37.5em) {
      .section__about-text-box {
        width: 100%;
        padding: 2rem; } }
  .section__about-photo {
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex; }
    @media (max-width: 37.5em) {
      .section__about-photo {
        width: 100%; } }
    @media (max-width: 56.25em) {
      .section__about-photo {
        width: 100%; } }

.photoxd {
  width: 65%;
  outline: .5rem solid white;
  position: relative;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    .photoxd {
      width: 80%;
      outline: 0.3rem solid #fff;
      padding: 1.5rem; } }
  @media (max-width: 37.5em) {
    .photoxd {
      width: 40%;
      padding: 1.5rem;
      margin-bottom: .5rem;
      outline: 0.3rem solid #fff; } }

.section__myskills {
  padding: 10rem 0;
  background-color: #fff;
  background-image: linear-gradient(to right bottom, #4C7C9B, #1F4E6D);
  background-size: cover;
  background-position: top;
  position: relative;
  margin-top: -30rem;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%); }
  @media (max-width: 37.5em) {
    .section__myskills {
      clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%); } }
  @media (max-width: 56.25em) {
    .section__myskills {
      margin-top: -20rem;
      clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%); } }

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10rem;
  justify-content: space-around; }

.card {
  width: 32rem;
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
  transition: .5s all; }
  @media (max-width: 56.25em) {
    .card {
      width: 36rem; } }
  .card:hover {
    transform: translateY(-3px);
    box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.4); }
  .card .card-img {
    width: 100%;
    object-fit: cover;
    height: 26rem;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%); }
  .card .profile-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -10rem;
    z-index: 999; }

.card-heading {
  font-size: 2.5rem;
  color: #1F4E6D;
  margin: 1.5rem 0; }

.job-title {
  color: #4C7C9B;
  font-size: 1.25rem;
  margin-top: -2rem; }

.about {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
  text-align: center;
  font-style: italic;
  position: relative; }
  @media (max-width: 56.25em) {
    .about {
      padding: 1rem;
      text-align: justify; } }
  .about::after {
    content: "";
    position: absolute;
    width: 20rem;
    height: .1rem;
    background-color: #CCC9DC;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem; }

.section__goals {
  background-color: #CCC9DC;
  padding: 25rem 0;
  margin-top: -25rem;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%); }
  @media (max-width: 37.5em) {
    .section__goals {
      clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
      margin-top: -10rem;
      padding: 15rem 0; } }
  @media (max-width: 56.25em) {
    .section__goals {
      clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
      margin-top: -10rem;
      padding: 5rem 0; } }

.goal-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  background-color: rgba(238, 238, 238, 0.5); }
  @media (max-width: 37.5em) {
    .goal-container {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .goal-container__imgbox--left {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    width: 60%;
    margin-right: 10rem;
    outline: 5px solid red; }
    @media (max-width: 56.25em) {
      .goal-container__imgbox--left {
        width: 100%;
        margin-right: 0; } }
    @media (max-width: 37.5em) {
      .goal-container__imgbox--left {
        margin-bottom: 2rem;
        width: 70%;
        clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%); } }
  .goal-container__imgbox--right {
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    width: 60%;
    margin-left: 10rem; }
    @media (max-width: 37.5em) {
      .goal-container__imgbox--right {
        margin-bottom: 2rem;
        margin-left: 0;
        width: 100%;
        clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%); } }
    @media (max-width: 56.25em) {
      .goal-container__imgbox--right {
        width: 100%;
        margin-left: 0; } }
  .goal-container__img {
    width: 100%;
    outline: 5px solid #255F85; }
  .goal-container__textbox--left {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 10rem;
    justify-content: center; }
    @media (max-width: 37.5em) {
      .goal-container__textbox--left {
        margin-right: 0; } }
    @media (max-width: 56.25em) {
      .goal-container__textbox--left {
        margin-right: 0; } }
  .goal-container__textbox--right {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10rem;
    justify-content: center; }
    @media (max-width: 37.5em) {
      .goal-container__textbox--right {
        margin-left: 0; } }
    @media (max-width: 56.25em) {
      .goal-container__textbox--right {
        margin-left: 0; } }

.icon-container {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #eee;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.17);
  height: 20rem; }
  @media (max-width: 56.25em) {
    .icon-container {
      margin-bottom: 20rem; } }
  .icon-container__icon {
    fill: #255F85;
    width: 10rem;
    height: 10rem; }

.section-projects {
  background-image: linear-gradient(to right bottom, #4C7C9B, #1F4E6D);
  background-size: cover;
  background-position: top;
  position: relative;
  height: fit-content;
  margin-top: -30rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%); }
  @media (max-width: 56.25em) {
    .section-projects {
      clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);
      margin-top: -20rem;
      padding: 10rem; } }
  @media (max-width: 37.5em) {
    .section-projects {
      clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);
      margin-top: -10rem;
      padding: 2rem; } }
  .section-projects__wrapper {
    margin-top: 10rem;
    display: flex;
    flex-direciton: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20rem; }
    @media (max-width: 37.5em) {
      .section-projects__wrapper {
        flex-direction: column; } }
  .section-projects__container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-around;
    background-color: #ebeef8;
    box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2); }
    @media (max-width: 56.25em) {
      .section-projects__container {
        width: 100%;
        margin-bottom: 3rem; } }
    @media (max-width: 37.5em) {
      .section-projects__container {
        flex-direction: column;
        width: 100%; } }
  .section-projects__imgbox {
    display: flex;
    width: 100%; }
    @media (max-width: 37.5em) {
      .section-projects__imgbox {
        width: 100%; } }
    .section-projects__imgbox-img {
      width: 100%;
      height: 50vh; }
      @media (max-width: 56.25em) {
        .section-projects__imgbox-img {
          height: 40rem; } }
      @media (max-width: 37.5em) {
        .section-projects__imgbox-img {
          height: 40vh; } }
  .section-projects__textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35rem;
    padding: 1.5rem; }
    @media (max-width: 37.5em) {
      .section-projects__textbox {
        width: 100%; } }
    .section-projects__textbox-heading {
      font-size: 3rem;
      color: #1F4E6D;
      letter-spacing: 1.1rem;
      position: relative;
      margin-bottom: 3.5rem; }
      .section-projects__textbox-heading::after {
        content: "";
        width: 25rem;
        height: .09rem;
        background-color: #1F4E6D;
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 2rem; }
    .section-projects__textbox-paragraph {
      font-size: 1.6rem;
      color: #1F4E6D; }
      @media (max-width: 56.25em) {
        .section-projects__textbox-paragraph {
          font-size: 2rem; } }
    .section-projects__textbox-iconbox {
      display: flex;
      margin: 5rem;
      width: inherit;
      justify-content: space-around;
      position: relative; }
      .section-projects__textbox-iconbox::after {
        content: "";
        position: absolute;
        width: 20rem;
        height: .1rem;
        background-color: #CCC9DC;
        bottom: -2rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 2rem; }

.section-socials {
  background-color: #CCC9DC;
  padding: 10rem 0;
  margin-top: -10rem;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%); }
  @media (max-width: 37.5em) {
    .section-socials {
      clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
      margin-top: -10rem;
      padding: 5rem 0; } }
  .section-socials__container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    padding: 3rem; }
    @media (max-width: 37.5em) {
      .section-socials__container {
        flex-direction: column;
        margin-top: 5rem; } }
  .section-socials__imgbox {
    width: 50%; }
    @media (max-width: 37.5em) {
      .section-socials__imgbox {
        width: 100%; } }
  .section-socials__img {
    width: 100%; }
  .section-socials__text-container {
    display: flex;
    flex-direction: column;
    width: 50%; }
    @media (max-width: 37.5em) {
      .section-socials__text-container {
        width: 100%; } }
  .section-socials__textbox {
    padding: 3rem;
    font-size: 1.6rem; }
    @media (max-width: 37.5em) {
      .section-socials__textbox {
        padding: 1rem; } }
    @media (max-width: 56.25em) {
      .section-socials__textbox {
        padding: 0rem 3rem; } }
  .section-socials__iconbox {
    display: flex;
    justify-content: space-around; }
  .section-socials__icon {
    width: 15%; }

.section-footer {
  background-image: linear-gradient(to right bottom, #3d3635, #211e1d);
  padding-top: 20rem;
  padding-bottom: 2rem;
  margin-top: -15rem;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%); }
  @media (max-width: 37.5em) {
    .section-footer {
      clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
      margin-top: -10rem;
      padding: 15rem 0; } }
  .section-footer__logotype {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    color: #CCC9DC;
    position: relative; }
    .section-footer__logotype::after {
      content: "";
      position: absolute;
      width: 20rem;
      height: .1rem;
      background-color: #CCC9DC;
      bottom: 6rem;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2rem; }
  .section-footer__leftside {
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #CCC9DC; }
  .section-footer__link {
    text-decoration: none;
    color: #CCC9DC;
    font-size: 1.6rem;
    transition: all .4s; }
    .section-footer__link:hover {
      border-bottom: 1px solid #CCC9DC; }
  .section-footer__sign {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    width: 100%; }
