// COLORS
$color-primary: #255F85;
$color-primary-light: #4C7C9B;
$color-primary-dark: #1F4E6D;

$color-secondary-light:#6A687A;
$color-secondary-dark: #575664;

$color-tertiary-light: #3d3635;
$color-tertiary-dark: #211e1d;


$color-white: #fff;
$color-black: #000;

$color-gray-light-1: #CCC9DC;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #888;