
 .section__about {
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
    display: flex;
    @include responsive(phone){ //width <700
        flex-direction: column;
    }
    

    &-text-box {
        width: 50%;
        margin-right: 10rem;
        @include responsive(phone){ //width <700
            width: 100%;
            padding: 2rem;
        }
        

    }
    &-photo {
        width: 50%;
        align-items: center;
        justify-content: center;
        display: flex;

        @include responsive(phone){ //width <700
            width:100%;
          
        }
    }


 }

 .photoxd {
     width: 50%;
     outline: .5rem solid white;
     position: relative;
     padding: 3rem;

     @include responsive(phone){ //width <700
        padding: 0;
        margin-bottom: .5rem;
    }

     }
 