.section-projects {
    background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark);
    background-size: cover;
    background-position: top;
    position: relative;
    margin-top: -30rem;
-webkit-clip-path: polygon(0 0  , 100% 0, 100% 100%, 0 75vh);
clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);

@include responsive(phone){ //width <700
    clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);
    margin-top: -10rem;
    padding: 5rem;
}

    &__wrapper {
        margin-top: 10rem;
        display: flex;
        flex-direciton: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    &__container {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        width: 30%;
        justify-content: space-around;
        background-color: #ebeef8;
        box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);

        @include responsive(phone){ //width <700
           flex-direction: column;
        }
    

        
    }

    &__imgbox {
        display: flex;
        width: 100%;

        @include responsive(phone){ //width <700
            width: 100%;
         }
        &-img {
            width: 100%;
            height: 50vh;
            @include responsive(phone){ //width <700
                height: 50vh;
             }
        }
    }

    &__textbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35rem;
       
        padding: 1.5rem;

        @include responsive(phone){ //width <700
            width: 100%;

         }
        &-heading {
            font-size: 3rem;
            color: $color-primary-dark;
            letter-spacing: 1.1rem;
            position: relative;
            margin-bottom: 3.5rem;
            
            &::after{
                content: "";
                width: 25rem;
                height: .09rem;
                background-color: $color-primary-dark;
                position: absolute;
                bottom: -1rem;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 2rem;
            }
        }

        &-paragraph {
            font-size: 1.6rem;
            color:$color-primary-dark;
        }

        &-iconbox{
            display: flex;
            margin: 5rem;
            width: inherit;
            justify-content: space-around;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 20rem;
                height: .1rem;
                background-color: $color-gray-light-1;
                bottom: -2rem;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 2rem;
            }
        }
    }

}

