@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(5rem);
    }
    to {
        opacity: 1;
        transform: translateX(0rem);
    }
}

.toggle .navigation__burger-line1 {
    transform: rotate(-45deg) translate(-.5rem, .6rem);
}
.toggle .navigation__burger-line2 {
    opacity: 0;
}
.toggle .navigation__burger-line3 {
    transform: rotate(45deg) translate(-.5rem, -.6rem);
}